body {
  background-image: url(images-Landing/create-an-hyperrealistic-image-fish-being-dropped-into-the-sea-like-bombs-from-a-bambardier-airplane-explosions-and-war-in-the-background_4EmeQ6Zg_upscaled.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body h1 {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 120px;
  color: darkred;
  text-align: center;
  text-shadow: 5px 5px wheat;
  border: 5px solid darkblue;
  padding: 250px auto;
  box-shadow: 5px 10px 10px 10px rgb(250, 250, 202);
  background-image: url(Images/fish-explosion-background.jpg);
  background-size: 150px;
  height: 145px;
  margin: auto auto 45px auto;
}

/*Navigation Menu*/
.nav-menu {
  width: 550px;
  height: 45px;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  border: 15px solid rgb(225, 109, 8);
  margin: auto auto;
  border-radius: 50px;
  background-color: rgb(65, 1, 13);
  box-shadow: 5px 5px 5px 8px #bfa302;
}

.nav-menu ul {
  height: auto;
  padding: 8px 8px;
}

.nav-menu li {
  display: inline;
  padding: auto;
}

.nav-menu a {
  font-size: 30px;
  padding: 30px;
  margin: 5px;
  color: rgb(251, 246, 246);
  text-shadow: 0 0 3px #ff0000;
}

.nav-menu a:hover {
  color: goldenrod;
  background-image: url(Images/tinylittlefishscales.jpg);
  background-size: contain;
  border-radius: 50px;
}

body h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: rgb(216, 89, 110);
  text-shadow: 0 0 3px #ff0000;
  font-size: 45px;
  letter-spacing: 9px;
  padding: 20px;
  border: 3px solid white;
  border-radius: 50px;
  background-color: black;
  width: fit-content;
  margin: 40px auto;
}

body h4 {
  font-family: "Tangerine", cursive;
  text-align: center;
  font-size: 45px;
  color: goldenrod;
  border: 3px solid white;
  padding: 20px;
  width: fit-content;
  margin: 25px auto;
  border-radius: 50px;
  background-color: black;
}

.welcome-1 p {
  margin: auto;
  color: rgb(255, 255, 254);
  text-shadow: 4px 2px rgb(11, 1, 1);
  border: 5px solid goldenrod;
  border-radius: 10px;
  height: auto;
  width: 950px;
  font-family: "Paytone One", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 25px 25px;
  letter-spacing: 3px;

  background-image: url(Images/darkscales.jpg);
  background-size: cover;
}
